.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 10px;
  }
  
  .navLink {
    font-weight: bolder;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  